
title{
    color: rgb(152, 27, 27);
    text-align: center;
    font-size:x-large;
}

h1{
    color: rgb(106, 129, 182);
    text-align: center;
    font-size:x-large;
                
}

#raro{
    color:red; 

}
