h1{
    color: yellowgreen;
    text-align: center;
    border-style: mix;
}
p{
    text-align: center;
    color:rgb(18, 39, 221);
    border-style: dotted;
}

ol{
    text-align: center;
    color:rgb(149, 16, 16);
    border-style: groove;
    
}

ul{
    text-align: center;
    color: rgb(73, 60, 7);
    border-style: ridge;
}

h2{
    color: rgba(182, 19, 227, 0.832) ;
    text-align: center;
    border-style: mix;
}