h1{

    color: rgb(0, 0, 0);

    color: black;

    text-align: center;
    font-size:larger;
    margin: auto;
    width: 50%;
    border: 3px solid rgb(173, 46, 215);
    border-style:solid;
    padding: 10px;
                
}
p{
    color: rgba(21, 21, 21, 0.781);
    text-align:justify;
    font-size:x-large;
    margin: auto;
    width: 50%;
    border: 3px solid rgb(210, 5, 5);
    border-style:solid;
    padding: 10px;
}
li{
    color: rgb(0, 0, 0);
    text-align:justify;
    font-size:medium;
}


ul{
    color: rgba(21, 21, 21, 0.781);
    text-align:center;
    font-size:large;
    margin: auto;
    width: 50%;
    border: 3px solid rgb(113, 15, 15);
    border-style:solid;
    padding: 10px;
}
body{
    background-color: rgb(175, 115, 31);

}


h2{
    color: rgb(2, 2, 2);
    text-align: center;
    font-size:x-large;
    margin: auto;
    width: 50%;
    border: 3px solid rgb(113, 15, 15);
    border-style:solid;
    padding: 10px;
}
img{
    display: block;
    width: 20%;
    margin: auto;
}
footer{
    color: rgb(236, 122, 213);
    background-color: rgb(16, 8, 8);
}